doctype 5
html
	head
		title= 'title'
		script(data-main='/js/app', src='/js/libs/require.js')
	body
		div= 'hi'
		form(action='/api/image/create', method='POST', enctype='multipart/form-data')
			input(type='file', name='image_upload')
			input(type='submit')