doctype 5
html
	head
		title= 'title'
		link(rel='stylesheet', href='/css/style.css')
		script(src='/libs/handlebars-min.js')
		script(src='/libs/jquery-min.js')
		script(src='/libs/underscore-min.js')
		script(src='/libs/backbone-min.js')
		script(src='/views/AppView.js')
	body
		block content